<p id="notice"><%= notice %></p>

<h1>All Places</h1>

<p id="notice"><%= notice %></p>
<div class="container-fluid">
 <span>Select category</span><br>
  <div class="row">
    <div class="col-sm-3 col-lg-3">
      <nav class="navbar navbar-default navbar-fixed-side">
         <ul class="w3-bar-item w3-button"><li><%= link_to 'All', root_path %></li></ul>
         <% @categories.each do |category| %>
           <ul class="w3-bar-item w3-button">
              <li><%= link_to category.name, category %></li>
           </ul>
         <% end %>
     </nav>
    </div>
    <div class="col-sm-9 col-lg-9">
      <% @places.each do |place| %>
       <% if place.status == true %>
        <div class = "notice">
          <%= link_to (image_tag place.image.url(:medium)), place_path(place) %><br>
          <span style="font-size:20px;"><%= link_to place.title, place %></span><br>
          <span>(<%= average_score(place)%>, <%= place.reviews.length %> reviews)</span><br>
          <span><%= place.pictures.length %> photos</span>
        </div><br>
        <% end %>
      <% end %>
    </div> 
  </div>
</div>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
