<p id="notice"><%= notice %></p>

<div class = 'container'>
  <div class = 'row'>
    <div class = "col-xs-12 col-md-5 col-md-offset-1">
      <h1><%= @place.title %></h1>
      <p><%= @place.category.name %></p>
      <p><%= @place.description %></p>
    </div>
    <div class = "col-xs-12 col-md-5" >
      <%= image_tag @place.image.url(:medium) %><br>
    </div>   
  </div><br>
</div>

<% if @place.pictures.length != 0 %>
<div class = 'container'>
  <div class="row">
  <h3><div class='col-xs-12 col-md-2 col-md-offset-1'>
    Galery</div><br></h3>
      <% @place.pictures.each do |picture| %>   
        <div class='col-xs-12 col-md-2 col-md-offset-1'>
          <%= image_tag picture.image.url(:thumb) %>
        </div>
     <% end %>    
  </div>
</div><br>
<% end %>


<% if @place.reviews.length != 0 %>
<div class = 'container'>
  <div class="row">
    <h3><div class='col-xs-12 col-md-10 col-md-offset-1'>
      Ratings</div><br></h3> 
    <div class='col-xs-12 col-md-10 col-md-offset-1'>
       <b>Overall: <%= average_score(@place) %></b><br>
       <p>Quality of food: <%=@place.reviews.average(:food).round(1) %> </p>
       <p>Service quality: <%=@place.reviews.average(:service).round(1) %> </p>
       <p>Interior: <%=@place.reviews.average(:interior).round(1) %> </p>
       <p>----------------------------------------------------------------------------------------------------------------</p>
  </div>
  </div>
</div><br>
<% end %>


<% if @place.reviews.length != 0 %>
<div class = 'container'>
  <div class="row">
    <h3><div class='col-xs-12 col-md-10 col-md-offset-1'>
      Reviews</div><br></h3>
    
      <% @reviews.each do |review| %>
      <div class='col-xs-12 col-md-10 col-md-offset-1'>
         <b>On <%= review.created_at %>, <%= link_to review.user.name, edit_user_registration_path(@user)%> said: </b><br>

         <p><%=review.content%></p>
         <p>Quality of food: <%=review.food.round(1) %> </p>   
         <p>Service quality: <%=review.service.round(1) %> </p>
         <p>Interior: <%=review.interior.round(1) %> </p>
         <p>----------------------------------------------------------------------------------------------------------------</p>
    </div>
    <% end %>

  </div>
</div><br>
<% end %>

<% if user_signed_in? %>
  <div class = 'container'>
    <div class="row">
      <h3><div class='col-xs-12 col-md-10 col-md-offset-1'>
        Add review</div><br></h3>
      <div class='col-xs-12 col-md-10 col-md-offset-1'>
     <%= form_for [@place, @place.reviews.build] do |f| %>
        <%= f.text_field :content %><br>
        Quality of food: <%= f.select :food, [5,4,3,2,1] %>
        Service quality: <%= f.select :service, [5,4,3,2,1] %>
        Interior: <%= f.select :interior, [5,4,3,2,1] %><br>
      <%= f.button :submit %>
     <% end %>
       <p>----------------------------------------------------------------------------------------------------------------</p>
     </div>     
    </div>
  </div><br>
<% end %>


<% if user_signed_in? %>
  <div class = 'container'>
    <div class="row">
      <h3><div class='col-xs-12 col-md-10 col-md-offset-1'>
        Upload new photo</div><br></h3>
      <div class='col-xs-12 col-md-10 col-md-offset-1'>
     <%= form_for [@place, @place.pictures.build] do |f| %>
        <%= f.file_field :image %>
      <%= f.button :submit %>
     <% end %>
     </div>     
    </div>
  </div><br>
<% end %>

<%= link_to 'Back', places_path %>
